*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid grey;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .icon{ 
    border: 5px solid grey; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .icon .icons{ 
    position: relative;
    z-index: 10;
    width: 300px; 
    height: 80px;  
    border: 2px solid green ;
    margin: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container .icon .icons a{
    margin: 0 20px ;
    color: black;
    font-size: 3em;
    z-index: 1;
}

.container .icon .icons .background{
    width: 400px;
    height: 100px;
    background: transparent;
    position: absolute;
    transform: translateX(-400px);
    transition: 0.6s; 
}
.container .icon .icons #twitter{
    transition: 0.5s;
}
.container .icon .icons #insta{ 
    transition: 0.5s;
}
/* facebook hover  start*/
.container .icon .icons #facebook:hover ~ .background{ 
    transform: translateX(50px);
    background:#103F91 ;
}
.container .icon .icons #facebook:hover{
    color: white;
}


/* facebook hover ends*/


/* Twitter hover  start*/
.container .icon .icons #twitter:hover ~ .background{
    transform: translateX(50px);
    background:#22A5F1 ;
}
.container .icon .icons #twitter:hover{
    color: white;
}

/* Twitter hover end*/

.container .icon .icons #insta:hover ~ .background{
    transform: translateX(50px);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 

}
.container .icon .icons #insta:hover{
    color: white; 
}





/* .container .icon .icons a:hover {
    color: white; 
} */
.container .icon .icons a:hover ~ .container .icon .icons #facebook{  
    color:white;
}